<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/fonts/stylesheet.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
</head>

<body>
    <header class="header permanent">
        <div class="content w-[1286px]">
            <nav class="nav-bar flex justify-between items-center pt-[30px] pb-[8px]">
                <a href="">
                    <img src="/img/logo.svg" alt="Furniro" loading="lazy" />
                </a>

                <ul class="flex justify-between">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li>
                        <a href="/aboutPage">About</a>
                    </li>
                    <li>
                        <a href="/contactPage">Contact</a>
                    </li>
                </ul>

                <div class="icon flex justify-between">
                    <a href="/login" class="icon-profile"><img src="/img/profile.svg" alt="Profile"
                            loading="lazy" /></a>
                    <a href="#!" class="icon-search"><img src="/img/search.svg" alt="Search" loading="lazy" /></a>
                    <a href="" class="icon-favorites"><img src="/img/favorites.svg" alt="Favorites"
                            loading="lazy" /></a>
                    <a href="" class="icon-cart"><img src="/img/cart.svg" alt="Cart" loading="lazy" /></a>
                </div>
            </nav>
        </div>
    </header>

    <div class="relative mx-auto max-w-screen-xl">
        <img src="/images/background.png" alt="bg" class="w-full" />
        <div class="absolute inset-0 flex flex-col items-center justify-center">
            <img src="/images/logo.png" alt="Logo" class="h-20 w-20 sm:h-24 sm:w-24 md:h-28 md:w-28 lg:h-32 lg:w-32" />
            <p class="text-3xl sm:text-4xl md:text-5xl lg:text-7xl font-medium">
                About
            </p>
            <div class="mt-1 sm:mt-2 lg:mt-4">
                <a href="#" class="text-lg sm:text-xl lg:text-2xl font-medium">Home</a>
                <span class="text-lg sm:text-xl lg:text-2xl font-medium">></span>
                <a href="./aboutPage.html" class="text-lg sm:text-xl lg:text-2xl text-slate-800">About</a>
            </div>
        </div>
    </div>

    <div class="p-60 px-4 sm:px-8 lg:px-16 xl:px-60 text-center mx-auto container break">
        <h2 class="font-semibold text-5xl py-8">About Us</h2>
        <p class="opacity-50 w-full sm:w-[600px] md:w-[800px] mx-auto text-justify">
            Welcome to Furniro! We are dedicated to providing you with the
            highest quality cars that combine both functionality and
            aesthetics. Our team is passionate about design and
            craftsmanship, ensuring that every vehicle we offer meets our
            strict standards of quality and style.
        </p>
        <p class="opacity-50 w-full sm:w-[600px] md:w-[800px] mx-auto pt-4 text-justify">
            At Furniro, we believe that your car should reflect your
            personality and lifestyle. That's why we offer a wide range of
            products to cater to your unique tastes and needs. Our
            commitment to sustainability and ethical sourcing means you can
            shop with confidence, knowing that you are supporting
            responsible practices.
        </p>
    </div>

    <div class="p-40 px-4 sm:px-8 lg:px-16 xl:px-60 text-center mx-auto container break">
        <div class="">
            <h2 class="font-semibold text-5xl pb-8">Our Mission</h2>
            <p class="opacity-50 w-full sm:w-[600px] md:w-[800px] mx-auto text-justify">
                Our mission is to inspire and empower you to create
                experiences that you love. We strive to provide exceptional
                customer service and a seamless shopping experience, from
                the moment you browse our collection to the delivery of your
                new car.
            </p>
        </div>
    </div>

    <div class="bg-custom-beige w-full py-24 break">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 py-8">
            <div class="flex flex-col items-center text-center">
                <img src="/img/trophy.svg" alt="trophy" class="w-24 h-24 mb-4" />
                <h3 class="font-semibold text-4xl">High Quality</h3>
                <p class="opacity-50">Crafted from top materials</p>
            </div>

            <div class="flex flex-col items-center text-center">
                <img src="/img/warranty.svg" alt="warranty" class="w-24 h-24 mb-4" />
                <h3 class="font-semibold text-4xl">Warranty Protection</h3>
                <p class="opacity-50">Over 2 years</p>
            </div>

            <div class="flex flex-col items-center text-center">
                <img src="/img/shipping.svg" alt="shipping" class="w-24 h-24 mb-4" />
                <h3 class="font-semibold text-4xl">Free Shipping</h3>
                <p class="opacity-50">Order over 150 $</p>
            </div>

            <div class="flex flex-col items-center text-center">
                <img src="/img/support.svg" alt="support" class="w-24 h-24 mb-4" />
                <h3 class="font-semibold text-4xl">24 / 7 Support</h3>
                <p class="opacity-50">Dedicated support</p>
            </div>
        </div>
    </div>

    <footer class="footer border-t-[1px] border-solid border-t-[#d9d9d9] mt-[30px]">
        <div class="content w-[1240px] pt-[48px] mx-[auto]">
            <div class="info">
                <div class="column">
                    <h3 class="heading text-[2.4rem] font-bold text-[#000]">
                        Funiro.
                    </h3>
                    <p class="desc w-[285px] font-normal text-[#9f9f9f]">
                        400 University Drive Suite 200 Coral Gables,<br />
                        FL 33134 USA
                    </p>
                </div>

                <div class="column column-list">
                    <h3 class="heading">Links</h3>
                    <ul class="list">
                        <li class="item"><a href="#!">Home</a></li>
                        <li class="item"><a href="#!">Shop</a></li>
                        <li class="item"><a href="#!">About</a></li>
                        <li class="item"><a href="#!">Contact</a></li>
                    </ul>
                </div>

                <div class="column column-list">
                    <h3 class="heading">Help</h3>
                    <ul class="list">
                        <li class="item">
                            <a href="#!">Payment Options</a>
                        </li>
                        <li class="item"><a href="#!">Returns</a></li>
                        <li class="item">
                            <a href="#!">Privacy Policies</a>
                        </li>
                    </ul>
                </div>

                <div class="column column-list">
                    <h3 class="heading">Newsletter</h3>
                    <div class="input-container">
                        <input type="email" placeholder="Enter Your Email Address"
                            class="w-[200px] mr-[11px] border-b-[1px] border-solid border-b-[#000] text-[1.4rem]" />
                        <button class="border-b-[1px] border-solid border-b-[#000] text-[1.4rem] font-medium">
                            SUBSCRIBE
                        </button>
                    </div>
                </div>
            </div>

            <hr class="mt-[48px]" />

            <p class="all-rights my-[35px] font-normal text-[#000]">
                2023 furino. All rights reverved
            </p>
        </div>
    </footer>
</body>

</html>