<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contact</title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/fonts/stylesheet.css" />
        <link rel="stylesheet" href="/css/home.css" />
        <link rel="stylesheet" href="/css/tailwind.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/footer.css" />
    </head>
    <body>
        <!-- <div
            class="py-12 grid grid-cols-1 md:grid-cols-3 px-4 sm:px-8 md:px-16 lg:px-32"
        >
            <div class="col-span-1 flex flex-row items-center gap-2">
                <img
                    src="/images/logo.png"
                    alt="Logo"
                    class="h-16 w-20"
                />
                <p class="font-bold text-4xl">Furniro</p>
            </div>
            <div class="col-span-1 flex justify-center items-center">
                <ul
                    class="flex space-x-2 sm:space-x-6 md:space-x-12 lg:space-x-32 font-medium"
                >
                    <li class="cursor-pointer">
                        <a href="../../index.html">Home</a>
                    </li>
                    <li class="cursor-pointer">
                        <a href="./shop.html">Shop</a>
                    </li>
                    <li class="cursor-pointer">
                        <a href="./aboutPage.html">About</a>
                    </li>
                    <li class="cursor-pointer">
                        <a href="">Contact</a>
                    </li>
                </ul>
            </div>
            <div
                class="col-span-1 flex justify-end items-center gap-6 sm:gap-8 md:gap-12"
            >
                <img
                    src="/img/profile.svg"
                    alt="User"
                    class="h-8 w-8"
                />
                <img
                    src="/img/search.svg"
                    alt="Search"
                    class="h-8 w-8"
                />
                <img
                    src="/img/favorites.svg"
                    alt="Love"
                    class="h-8 w-8"
                />
                <img
                    src="/img/cart.svg"
                    alt="Cart"
                    class="h-8 w-8"
                />
            </div>
        </div> -->
        <header class="header permanent">
            <div class="content w-[1286px]">
                <nav
                    class="nav-bar flex justify-between items-center pt-[30px] pb-[8px]"
                >
                    <a href="">
                        <img
                            src="/img/logo.svg"
                            alt="Furniro"
                            loading="lazy"
                        />
                    </a>

                    <ul class="flex justify-between">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li>
                            <a href="/aboutPage">About</a>
                        </li>
                        <li>
                            <a href="/contactPage">Contact</a>
                        </li>
                    </ul>

                    <div class="icon flex justify-between">
                        <a href="/login" class="icon-profile"
                            ><img
                                src="/img/profile.svg"
                                alt="Profile"
                                loading="lazy"
                        /></a>
                        <a href="#!" class="icon-search"
                            ><img
                                src="/img/search.svg"
                                alt="Search"
                                loading="lazy"
                        /></a>
                        <a href="" class="icon-favorites"
                            ><img
                                src="/img/favorites.svg"
                                alt="Favorites"
                                loading="lazy"
                        /></a>
                        <a href="" class="icon-cart"
                            ><img
                                src="/img/cart.svg"
                                alt="Cart"
                                loading="lazy"
                        /></a>
                    </div>
                </nav>
            </div>
        </header>

        <div class="relative mx-auto max-w-screen-xl">
            <img
                src="/images/background.png"
                alt="bg"
                class="w-full"
            />
            <div
                class="absolute inset-0 flex flex-col items-center justify-center"
            >
                <img
                    src="/images/logo.png"
                    alt="Logo"
                    class="h-20 w-20 sm:h-24 sm:w-24 md:h-28 md:w-28 lg:h-32 lg:w-32"
                />
                <p
                    class="text-3xl sm:text-4xl md:text-5xl lg:text-7xl font-medium"
                >
                    Contact
                </p>
                <div class="mt-1 sm:mt-2 lg:mt-4">
                    <a
                        href="../../index.html"
                        class="text-lg sm:text-xl lg:text-2xl font-medium"
                        >Home</a
                    >
                    <span class="text-lg sm:text-xl lg:text-2xl font-medium"
                        >></span
                    >
                    <a
                        href=""
                        class="text-lg sm:text-xl lg:text-2xl text-slate-800"
                        >Contact</a
                    >
                </div>
            </div>
        </div>

        <div
            class="pt-60 px-4 sm:px-8 lg:px-16 xl:px-60 text-center mx-auto container"
        >
            <h2 class="font-semibold text-5xl py-8">Get In Touch With Us</h2>
            <p class="opacity-50 w-full sm:w-[600px] md:w-[800px] mx-auto">
                For More Information About Our Product & Services. Please Feel
                Free To Drop Us An Email. Our Staff Always Be There To Help You
                Out. Do Not Hesitate!
            </p>
            <div class="grid grid-cols-1 md:grid-cols-3 pt-60 pb-20 gap-8">
                <div class="col-span-1">
                    <div class="flex flex-row px-4 sm:px-8 lg:px-12 pb-12">
                        <img
                            src="/img/location.svg"
                            alt="location"
                            class="h-10 w-10 mr-8"
                        />
                        <div class="">
                            <h3 class="font-semibold text-4xl text-left">
                                Address
                            </h3>
                            <p class="text-left">
                                236 5th SE Avenue, New York NY10000, United
                                States
                            </p>
                        </div>
                    </div>

                    <div class="flex flex-row px-4 sm:px-8 lg:px-12 pb-12">
                        <img
                            src="/img/phone.svg"
                            alt="phone"
                            class="h-10 w-10 mr-8"
                        />
                        <div class="">
                            <h3 class="font-semibold text-4xl text-left">
                                Phone
                            </h3>
                            <p class="text-left">Mobile: +(84) 546-6789</p>
                            <p class="text-left">Hotline: +(84) 456-6789</p>
                        </div>
                    </div>

                    <div class="flex flex-row px-4 sm:px-8 lg:px-12">
                        <img
                            src="/img/clock.svg"
                            alt="clock"
                            class="h-10 w-10 mr-8"
                        />
                        <div class="">
                            <h3 class="font-semibold text-4xl text-left">
                                Working Time
                            </h3>
                            <p class="text-left">Monday-Friday: 9:00 - 22:00</p>
                            <p class="text-left">
                                Saturday-Sunday: 9:00 - 21:00
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-span-1 md:col-span-2 px-4 sm:px-8 lg:px-12">
                    <form action="" class="flex flex-col gap-4">
                        <label for="" class="text-left">Your name</label>
                        <input
                            type="text"
                            placeholder="Abc"
                            class="p-4 border border-gray-300 rounded-md"
                        />
                        <label for="" class="text-left">Email address</label>
                        <input
                            type="email"
                            placeholder="Abc@def.com"
                            class="p-4 border border-gray-300 rounded-md"
                        />
                        <label for="" class="text-left">Subject</label>
                        <input
                            type="text"
                            placeholder="This is an optional"
                            class="p-4 border border-gray-300 rounded-md"
                        />
                        <label for="" class="text-left">Message</label>
                        <textarea
                            name=""
                            id=""
                            cols="30"
                            rows="5"
                            placeholder="Hi! I'd like to ask about"
                            class="p-4 border border-gray-300 rounded-md"
                        ></textarea>
                        <button class="bg-black text-white p-4 rounded-md">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="bg-custom-beige w-full py-24 break">
            <div
                class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 py-8"
            >
                <div class="flex flex-col items-center text-center">
                    <img
                        src="/img/trophy.svg"
                        alt="trophy"
                        class="w-24 h-24 mb-4"
                    />
                    <h3 class="font-semibold text-4xl">High Quality</h3>
                    <p class="opacity-50">Crafted from top materials</p>
                </div>

                <div class="flex flex-col items-center text-center">
                    <img
                        src="/img/warranty.svg"
                        alt="warranty"
                        class="w-24 h-24 mb-4"
                    />
                    <h3 class="font-semibold text-4xl">Warranty Protection</h3>
                    <p class="opacity-50">Over 2 years</p>
                </div>

                <div class="flex flex-col items-center text-center">
                    <img
                        src="/img/shipping.svg"
                        alt="shipping"
                        class="w-24 h-24 mb-4"
                    />
                    <h3 class="font-semibold text-4xl">Free Shipping</h3>
                    <p class="opacity-50">Order over 150 $</p>
                </div>

                <div class="flex flex-col items-center text-center">
                    <img
                        src="/img/support.svg"
                        alt="support"
                        class="w-24 h-24 mb-4"
                    />
                    <h3 class="font-semibold text-4xl">24 / 7 Support</h3>
                    <p class="opacity-50">Dedicated support</p>
                </div>
            </div>
        </div>

        <!-- <div class="mx-auto container text-center md:text-left">
        <div class="grid grid-cols-1 md:grid-cols-4 pb-20 gap-8 break">
            <div class="flex flex-col items-center md:items-start">
                <h3 class="font-bold text-4xl pt-20 ">Funriro.</h3>
                <p class="opacity-50 pt-16">400 University Drive Suite 200 Coral Gables,</p>
                <p class="opacity-50">FL 33134 USA</p>
            </div>
    
            <div class="flex flex-col items-center md:items-start">
                <h3 class="opacity-50 pt-20 ">Links</h3>
                <ul class="text-center md:text-left">
                    <li class="pt-16 font-medium"><a href="#">Home</a></li>
                    <li class="pt-16 font-medium"><a href="#">Shop</a></li>
                    <li class="pt-16 font-medium"><a href="#">About</a></li>
                    <li class="pt-16 font-medium"><a href="#">Contact</a></li>
                </ul>
            </div>
    
            <div class="flex flex-col items-center md:items-start">
                <h3 class="opacity-50 pt-20 ">Help</h3>
                <ul class="text-center md:text-left">
                    <li class="pt-16 font-medium"><a href="#">Payment Options</a> </li>
                    <li class="pt-16 font-medium"><a href="#">Returns</a> </li>
                    <li class="pt-16 font-medium"><a href="#">Privacy Policies</a> </li>
                </ul>
            </div>
    
            <div class="flex flex-col items-center md:items-start">
                <h3 class="opacity-50 pt-20 ">Newsletter</h3>
                <div class="flex flex-row justify-center md:justify-start pt-16 items-center space-x-4">
                    <input type="text" placeholder="Enter your email address" class="border-b border-black focus:outline-none">
                    <button class="text-black border-b border-black font-medium">SUBSCRIBE</button>
                </div>                
            </div>
        </div>        

        <div class="py-16">
            <p>2023 furino. All rights reverved</p>
        </div>

        
    </div> -->

        <footer
            class="footer border-t-[1px] border-solid border-t-[#d9d9d9] mt-[30px]"
        >
            <div class="content w-[1240px] pt-[48px] mx-[auto]">
                <div class="info">
                    <div class="column">
                        <h3 class="heading text-[2.4rem] font-bold text-[#000]">
                            Funiro.
                        </h3>
                        <p class="desc w-[285px] font-normal text-[#9f9f9f]">
                            400 University Drive Suite 200 Coral Gables,<br />
                            FL 33134 USA
                        </p>
                    </div>

                    <div class="column column-list">
                        <h3 class="heading">Links</h3>
                        <ul class="list">
                            <li class="item"><a href="#!">Home</a></li>
                            <li class="item"><a href="#!">Shop</a></li>
                            <li class="item"><a href="#!">About</a></li>
                            <li class="item"><a href="#!">Contact</a></li>
                        </ul>
                    </div>

                    <div class="column column-list">
                        <h3 class="heading">Help</h3>
                        <ul class="list">
                            <li class="item">
                                <a href="#!">Payment Options</a>
                            </li>
                            <li class="item"><a href="#!">Returns</a></li>
                            <li class="item">
                                <a href="#!">Privacy Policies</a>
                            </li>
                        </ul>
                    </div>

                    <div class="column column-list">
                        <h3 class="heading">Newsletter</h3>
                        <div class="input-container">
                            <input
                                type="email"
                                placeholder="Enter Your Email Address"
                                class="w-[200px] mr-[11px] border-b-[1px] border-solid border-b-[#000] text-[1.4rem]"
                            />
                            <button
                                class="border-b-[1px] border-solid border-b-[#000] text-[1.4rem] font-medium"
                            >
                                SUBSCRIBE
                            </button>
                        </div>
                    </div>
                </div>

                <hr class="mt-[48px]" />

                <p class="all-rights my-[35px] font-normal text-[#000]">
                    2023 furino. All rights reverved
                </p>
            </div>
        </footer>
    </body>
</html>
