<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Furniro</title>

        <!-- Reset CSS -->
        <link rel="stylesheet" href="/css/reset.css" />

        <!-- Fonts Poppins -->
        <link rel="stylesheet" href="/fonts/stylesheet.css" />

        <!-- Style CSS -->
        <link rel="stylesheet" href="/css/singleProduct.css" />

        <!-- Tailwind CSS -->
        <link rel="stylesheet" href="/css/tailwind.css" />
    </head>
    <body>
        <header class="header">
            <div class="content w-[1286px]">
                <nav
                    class="nav-bar flex justify-between items-center py-[30px]"
                >
                    <a href="../../index.html">
                        <img src="/img/logo.svg" alt="Furniro" loading="lazy" />
                    </a>

                    <ul class="flex justify-between">
                        <li><a href="/">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="/aboutPage">About</a></li>
                        <li><a href="/contactPage">Contact</a></li>
                    </ul>

                    <div class="icon flex justify-between">
                        <a href="/login" class="icon-profile"
                            ><img
                                src="/img/profile.svg"
                                alt="Profile"
                                loading="lazy"
                        /></a>
                        <a href="#!" class="icon-search"
                            ><img
                                src="/img/search.svg"
                                alt="Search"
                                loading="lazy"
                        /></a>
                        <a href="" class="icon-favorites"
                            ><img
                                src="/img/favorites.svg"
                                alt="Favorites"
                                loading="lazy"
                        /></a>
                        <a href="" class="icon-cart"
                            ><img src="/img/cart.svg" alt="Cart" loading="lazy"
                        /></a>
                    </div>
                </nav>
            </div>
        </header>

        <main>
            <div class="breadcrumbBar bg-[#F9F1E7]">
                <div class="content pt-[31px] pb-[32px]">
                    <div class="breadcrumb flex items-center gap-[30px]">
                        <a href="../../index.html" class="home">Home</a>
                        <img src="/img/arrow-breadcrumbBar.svg" alt="" />
                        <a href="./shop.html" class="shop">Shop</a>
                        <img src="/img/arrow-breadcrumbBar.svg" alt="" />
                        <div
                            class="separate w-[2px] h-[37px] bg-[#9f9f9f]"
                        ></div>
                        <p class="name-product font-normal">Asgaard sofa</p>
                    </div>
                </div>
            </div>

            <div class="product-details">
                <div class="content pt-[35px] pb-[55px]">
                    <div class="details flex justify-between">
                        <div class="picture flex">
                            <ul class="list-picture">
                                <li class="picture-product">
                                    <img
                                        src=""
                                        alt="Asgaard sofa"
                                        class="h-[100%] rounded-[10px]"
                                    />
                                </li>
                                <li class="picture-product">
                                    <img
                                        src=""
                                        alt="Asgaard sofa"
                                        class="h-[100%] rounded-[10px]"
                                    />
                                </li>
                                <li class="picture-product">
                                    <img
                                        src=""
                                        alt="Asgaard sofa"
                                        class="h-[100%] rounded-[10px]"
                                    />
                                </li>
                                <li class="picture-product">
                                    <img
                                        src=""
                                        alt="Asgaard sofa"
                                        class="h-[100%] rounded-[10px]"
                                    />
                                </li>
                            </ul>

                            <img
                                src=""
                                class="main-photo w-[423px] h-[500px] ml-[31px] rounded-[10px]"
                            />
                        </div>

                        <div class="info w-[50%]">
                            <h1 class="title text-[4.2rem] font-normal">
                                <!-- Asgaard sofa -->
                            </h1>

                            <p
                                class="price text-[2.4rem] font-medium text-[#9f9f9f]"
                            >
                                <!-- Rs. 250,000.00 -->
                            </p>

                            <div
                                class="evaluate flex items-center gap-[22px] mt-[10px]"
                            >
                                <div class="stars flex">
                                    <img src="/img/star-100.svg" alt="" />
                                    <img src="/img/star-100.svg" alt="" />
                                    <img src="/img/star-100.svg" alt="" />
                                    <img src="/img/star-100.svg" alt="" />
                                    <img src="/img/star-50.svg" alt="" />
                                </div>
                                <div
                                    class="separate w-[1px] h-[30px] bg-[#9f9f9f]"
                                ></div>
                                <p
                                    class="review text-[1.3rem] font-normal text-[#9f9f9f]"
                                >
                                    5 Customer Review
                                </p>
                            </div>

                            <p
                                class="desc w-[424px] mt-[13px] text-[1.3rem] font-normal"
                            >
                                <!-- Setting the bar as one of the loudest speakers
                                in its class, the Kilburn is a compact,
                                stout-hearted hero with a well-balanced audio
                                which boasts a clear midrange and extended highs
                                for a sound. -->
                            </p>

                            <div class="size mt-[22px]">
                                <p
                                    class="heading text-[1.4rem] font-normal text-[#9f9f9f]"
                                >
                                    Size
                                </p>
                                <div
                                    class="size-option flex gap-[16px] mt-[12px]"
                                >
                                    <div>L</div>
                                    <div>XL</div>
                                    <div>XS</div>
                                </div>
                            </div>

                            <div class="color mt-[18px]">
                                <p
                                    class="heading text-[1.4rem] font-normal text-[#9f9f9f]"
                                >
                                    Color
                                </p>
                                <div
                                    class="color-option flex gap-[16px] mt-[12px]"
                                >
                                    <div class="bg-[#816DFA]"></div>
                                    <div class="bg-[#000]"></div>
                                    <div class="bg-[#B88E2F]"></div>
                                </div>
                            </div>

                            <div
                                class="button flex gap-[18px] h-[64px] mt-[32px]"
                            >
                                <div
                                    class="button-quantity flex justify-around items-center w-[123px]"
                                >
                                    <p>-</p>
                                    <p>1</p>
                                    <p>+</p>
                                </div>
                                <div
                                    class="button-add flex justify-center items-center w-[215px]"
                                >
                                    <p>Add To Cart</p>
                                </div>
                                <div
                                    class="button-compare flex justify-center items-center w-[215px]"
                                >
                                    <p>+ Compare</p>
                                </div>
                            </div>

                            <hr class="mt-[60px]" />

                            <div class="note mt-[41px]">
                                <div class="row">
                                    <div class="topic">
                                        <p>SKU</p>
                                        <p>:</p>
                                    </div>
                                    <p class="info">SS001</p>
                                </div>
                                <div class="row">
                                    <div class="topic">
                                        <p>Category</p>
                                        <p>:</p>
                                    </div>
                                    <p class="info">Sofas</p>
                                </div>
                                <div class="row">
                                    <div class="topic">
                                        <p>Tags</p>
                                        <p>:</p>
                                    </div>
                                    <p class="info">Sofa, Chair, Home, Shop</p>
                                </div>
                                <div class="row">
                                    <div class="topic">
                                        <p>Share</p>
                                        <p>:</p>
                                    </div>
                                    <div class="info flex">
                                        <img
                                            src="/img/facebook.svg"
                                            alt="Facebook"
                                            class="icon"
                                        />
                                        <img
                                            src="/img/linkedin.svg"
                                            alt="Linkedin"
                                            class="icon"
                                        />
                                        <img
                                            src="/img/twitter.svg"
                                            alt="Twitter"
                                            class="icon"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="overview mt-[11px] border-y-[1px] border-solid border-[#d9d9d9]"
            >
                <div class="content pt-[48px] pb-[65px]">
                    <div class="heading flex gap-[53px] justify-center">
                        <h3 class="topic">Description</h3>
                        <h3 class="topic">Additional Information</h3>
                        <h3 class="topic">Reviews [5]</h3>
                    </div>

                    <div class="desc w-[83%] mt-[37px] mx-auto">
                        <p>
                            Embodying the raw, wayward spirit of rock ‘n’ roll,
                            the Kilburn portable active stereo speaker takes the
                            unmistakable look and sound of Marshall, unplugs the
                            chords, and takes the show on the road.
                        </p>
                        <p>
                            Weighing in under 7 pounds, the Kilburn is a
                            lightweight piece of vintage styled engineering.
                            Setting the bar as one of the loudest speakers in
                            its class, the Kilburn is a compact, stout-hearted
                            hero with a well-balanced audio which boasts a clear
                            midrange and extended highs for a sound that is both
                            articulate and pronounced. The analogue knobs allow
                            you to fine tune the controls to your personal
                            preferences while the guitar-influenced leather
                            strap enables easy and stylish travel.
                        </p>
                    </div>

                    <div class="picture flex gap-[16px] mt-[36px]">
                        <img src="/img/Asgaard-sofa-6.jpg" alt="Asgaard sofa" />
                        <img src="/img/Asgaard-sofa-7.jpg" alt="Asgaard sofa" />
                    </div>
                </div>
            </div>

            <div class="related-products">
                <div class="content w-[1236px] pt-[55px] pb-[92px]">
                    <h2 class="sub-title text-[3.6rem] font-medium text-center">
                        Related Products
                    </h2>

                    <ul class="list-product">
                        <!-- Product 1 -->
                        <li class="product">
                            <a href="#!" class="product-button">
                                <div class="status bg-[#E97171]">-30%</div>

                                <img
                                    src="/img/syltherine.jpg"
                                    alt="Syltherine"
                                    class="product-images"
                                    loading="lazy"
                                />

                                <div class="product-info">
                                    <bold class="product-name">Syltherine</bold>

                                    <p class="product-desc">
                                        Stylish cafe chair
                                    </p>

                                    <div class="product-price">
                                        <p class="selling-price">
                                            Rp 2.500.000
                                        </p>
                                        <p class="original-price">
                                            Rp 3.500.000
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- Product 2 -->
                        <li class="product">
                            <a href="#!" class="product-button">
                                <img
                                    src="/img/leviosa.jpg"
                                    alt="Leviosa"
                                    class="product-images"
                                    loading="lazy"
                                />

                                <div class="product-info">
                                    <bold class="product-name">Leviosa</bold>

                                    <p class="product-desc">
                                        Stylish cafe chair
                                    </p>

                                    <div class="product-price">
                                        <p class="selling-price">
                                            Rp 2.500.000
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- Product 3 -->
                        <li class="product">
                            <a href="#!" class="product-button">
                                <div class="status bg-[#E97171]">-50%</div>

                                <img
                                    src="/img/lolito.jpg"
                                    alt="Lolito"
                                    class="product-images"
                                    loading="lazy"
                                />

                                <div class="product-info">
                                    <bold class="product-name">Lolito</bold>

                                    <p class="product-desc">Luxury big sofa</p>

                                    <div class="product-price">
                                        <p class="selling-price">
                                            Rp 7.000.000
                                        </p>
                                        <p class="original-price">
                                            Rp 14.000.000
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- Product 4 -->
                        <li class="product">
                            <a href="#!" class="product-button">
                                <div class="status bg-[#2EC1AC]">New</div>

                                <img
                                    src="/img/respira.jpg"
                                    alt="Respira"
                                    class="product-images"
                                    loading="lazy"
                                />

                                <div class="product-info">
                                    <bold class="product-name">Respira</bold>

                                    <p class="product-desc">
                                        Outdoor bar table and stool
                                    </p>

                                    <div class="product-price">
                                        <p class="selling-price">Rp 500.000</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <div class="flex justify-center">
                        <a
                            href="#!"
                            class="button min-w-[245px] px-[74px] py-[12px] border-2 border-solid border-[#B88E2F] mt-[44px] mx-auto font-semibold leading-[1.5] text-[#B88E2F] bg-[#fff]"
                            >Show More</a
                        >
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer border-t-[1px] border-solid border-t-[#d9d9d9]">
            <div class="content pt-[48px]">
                <div class="info">
                    <div class="column">
                        <h3 class="heading text-[2.4rem] font-bold text-[#000]">
                            Funiro.
                        </h3>
                        <p class="desc w-[285px] font-normal text-[#9f9f9f]">
                            400 University Drive Suite 200 Coral Gables,<br />
                            FL 33134 USA
                        </p>
                    </div>

                    <div class="column column-list">
                        <h3 class="heading">Links</h3>
                        <ul class="list">
                            <li class="item"><a href="#!">Home</a></li>
                            <li class="item"><a href="#!">Shop</a></li>
                            <li class="item"><a href="#!">About</a></li>
                            <li class="item"><a href="#!">Contact</a></li>
                        </ul>
                    </div>

                    <div class="column column-list">
                        <h3 class="heading">Help</h3>
                        <ul class="list">
                            <li class="item">
                                <a href="#!">Payment Options</a>
                            </li>
                            <li class="item"><a href="#!">Returns</a></li>
                            <li class="item">
                                <a href="#!">Privacy Policies</a>
                            </li>
                        </ul>
                    </div>

                    <div class="column column-list">
                        <h3 class="heading">Newsletter</h3>
                        <div class="input-container">
                            <input
                                type="email"
                                placeholder="Enter Your Email Address"
                                class="w-[200px] mr-[11px] border-b-[1px] border-solid border-b-[#000] text-[1.4rem]"
                            />
                            <button
                                class="border-b-[1px] border-solid border-b-[#000] text-[1.4rem] font-medium"
                            >
                                SUBSCRIBE
                            </button>
                        </div>
                    </div>
                </div>

                <hr class="mt-[48px]" />

                <p class="all-rights my-[35px] font-normal text-[#000]">
                    2023 furino. All rights reverved
                </p>
            </div>
        </footer>
    </body>
    <script src="/js/singleProduct.js"></script>
</html>
